node_modules

/bin
/Data/
/Configuration/*
!/Configuration/Routes.yaml
/Web/*
!/Web/.htaccess
/Build/*
!/Build/Surf

/Packages/Framework
/Packages/Application
/Packages/Libraries
/Packages/Plugins
/Packages/Sites/TYPO3.NeosDemoTypo3Org
/Packages/Sites/*/Resources/Public/Css/*.min.*
/Packages/Sites/*/Resources/Public/Scripts/*.min.*

/Upgrading.*
/Readme.*
/flow
/flow.bat
.idea
